/* RegistrationForm.module.css */

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: 70px;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputAndButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 10px 60px;
}

.gridcontainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 45%;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 70px;
    margin-top: 30px;
}

.titlepage {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
}

.exit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}